
@{
	Layout = "_LayoutMotorcycles";
}
<div class="container">
	<div class="card">
		<div class="image-box">
			<img src="~/images/motorcycles/yamaha.jpg" alt="yamaha" srcset="" />
		</div>
		<h3>Honda</h3>
		<p class="description">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
			quo autem, perferendis voluptatum enim sunt non totam ducimus
			dignissimos animi cum velit ipsa veniam. Quasi porro fugiat commodi
			distinctio consequatur!
		</p>
	</div>
	<div class="card">
		<h3>Enduro</h3>
		<p class="description">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
			quo autem, perferendis voluptatum enim sunt non totam ducimus
			dignissimos animi cum velit ipsa veniam. Quasi porro fugiat commodi
			distinctio consequatur!
		</p>
		<div class="image-box">
			<img src="~/images/motorcycles/enduro.jpg" alt="yamaha" srcset="" />
		</div>
	</div>
</div>
<div class="container">
	<div class="card">
		<h3>Chopper</h3>
		<p class="description">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
			quo autem, perferendis voluptatum enim sunt non totam ducimus
			dignissimos animi cum velit ipsa veniam. Quasi porro fugiat commodi
			distinctio consequatur!
		</p>
		<div class="image-box">
			<img src="~/images/motorcycles/Chopper.jpg" alt="yamaha" srcset="" />
		</div>
	</div>
	<div class="card">
		<div class="image-box">
			<img src="~/images/motorcycles/Harley.jpg" alt="yamaha" srcset="" />
		</div>
		<h3>Harley-Davidson</h3>
		<p class="description">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
			quo autem, perferendis voluptatum enim sunt non totam ducimus
			dignissimos animi cum velit ipsa veniam. Quasi porro fugiat commodi
			distinctio consequatur!
		</p>
	</div>
</div>

