@using WebPortal.Models.Motorcycles
@model List<MotorcyclesViewModel>
@{
	Layout = "_LayoutMotorcycles";
}
<div class="container">
	@foreach(var bike in Model)
	{
		<div class="card">
			<div class="image-box">
				<img src="@bike.Src" alt="@bike.Name" srcset="" />
			</div>
			<h3>@bike.Name</h3>
			<p class="description">
				@bike.Description
			</p>
			<a href="/motorcycles/remove?id=@bike.Id">
                <button>DELETE</button>
			</a>
		</div>
	}
</div>

