@section Scripts {
    <script src="/js/notificationNotes/index.js"></script>
}

<div class="custom_input">
    <input type="text" name="Message" placeholder="Enter notification" class="input" />
</div>

<div class="custom_input">
    <button type="button" class="custom_input_button send">Send</button>
</div>