<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/helpfull/style.css" rel="stylesheet" type="text/css">
    <title>Helpfull Website for Newbie Juniors</title>
</head>
<body>
    <header class="header">
		<a href="/">Welcome to helpfull website for newbie juniors!</a>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="outer"></footer>
</body>
</html>