<html>
<head>
    <link rel="stylesheet" href="~/css/tourism.css">
</head>

</html>

<body>
    <div class="topbar-menu">
        <div class="menu">
            <img class="topbar-image" src="~/images/tourism/menu.png" />
            <ul class="menu-dropdown">
                <li><a href="/Tourism/AddContent">Add Photo of User (admin)</a> </li>
                <li><a href="/Tourism">Main Page</a> </li>
                <li><a href="/">Home Page</a> </li>
                <li><a href="/">Contact</a> </li>
                <li><a href="/">Info</a> </li>
            </ul>
        </div>
        <div class="logo"><a href="/">LOGO</a></div>
        <div class="search">
            <img class="topbar-image" src="~/images/tourism/search.jpg" />
        </div>
    </div>
    @RenderBody()
</body>