<html>
<head>
    <link href="~/css/spaceStation.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="image-container">
            <img class="logo" src="~/images/spaceStation/logo.png">
        </div>
        <a class="mainButton" href="/">Main WebApp</a>
        <a class ="mainButton" href="/SpaceStation/News">News</a>
        <a class="mainButton" href="/SpaceStation/Contacts">Contacts</a>
    </div>

    <img src="~/images/spaceStation/back.jpg" class="background-image">
    @RenderBody()


    <div class="footer">
        <div class="contacts">
            <div class="phone">phone:+375111234567</div>
            <div class="email">email:default_email@gmal.com</div>
            <div class="adress">adress:default_city17</div>
        </div>
    </div>

    <div></div>
</body>
</html>