<html>
<head>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/sdek-project/header.css">
    <link rel="stylesheet" href="~/css/sdek-project/menu.css">
</head>

<body>
<div class="title">
    <a class="link" href="/">Main WebApp</a>
    <a class="link" href="/SdekProject/ChatBot">ChatBot</a>
</div>
</body>