<html>
<!DOCTYPE html>
<html lang="ru">
<head>
    @RenderBody()
    <link href="css/marketplace/marketplace.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маркетплейс</title>
</head>
</html>
