<html>
<head>
    <link href="~/css/girl.css" rel="stylesheet" />
</head>

<body>
    <div class="title"><a href="/">TITLE</a></div>

    <div class="not-a-title-blocks">
        <div class="girls-with-maze">
            @RenderBody()
            <div class="hot-keys">
                <div>
                    <span id="boom" class="hot-key key_active">alt + tab</span>
                    : переключить окно
                </div>
                <div>
                    <span class="hot-key">F5</span>
                    : обновить страничку
                </div>
                <div>
                    <span class="hot-key">ctrl + S</span>
                    : сохранить документ
                </div>
                <div>
                    <span class="hot-key">alt + shift + F</span>
                    : в visual studio Code - авто форматирирование
                </div>
            </div>
        </div>
        <div class="hero-info">HERO</div>
    </div>
</body>
</html>
