@using WebPortal.DbStuff.Models.CompShop.Devices
@using WebPortal.Models.CompShop

@model CategoryViewModel

@{
    Layout = "_LayoutCompShop";
}

@section StyleCompShop {
    <link rel="stylesheet" href="~/css/CompShop/catalog.css" />
} 

<div class="container">
    <div id="catalog-root"></div>
</div>

@section Scripts {
    <script type="module" src="/comp-catalog/index.js"></script>
}

