/* css */
/*
[SELECTOR]{
	[STYLE-NAME]: [STYLE-VALUE];
	[STYLE-NAME]: [STYLE-VALUE];
	[STYLE-NAME]: [STYLE-VALUE];
}
*/

.hot-key {
    color: rgb(47, 4, 201);
}

.active {
    background-color: aqua;
}

#boom {}

div span.book-key {}

.title {
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.not-a-title-blocks {
    display: flex;
}

.content {
    border: 2px solid red;
}

.girls {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.girl {
    margin: 10px;
}

.girl.marked-to-remove {
    border: red 5px solid;
}

.girl .name {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.girls-with-maze {
    flex: 1;
}

.girl-image {
    /* max-width: 300px;
	max-height: 500px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    width: 300px;
    height: 500px;
}

.actions {
    display: flex;
}

.action {
    flex: 1;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    text-align: center;
}

.action:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.action:first-child {
    border-bottom-left-radius: 30px;
}

.action:last-child {
    border-bottom-right-radius: 30px;
}

.maze {
    border: 2px solid blue;
}

.hero-info {
    border: 2px solid green;
    width: 300px;
}


.title .link {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.title .link:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.title .link:active {
    position: relative;
    top: 1px;
}


.field-validation-error {
    color: brown;
    font-size: 30px;
}

.hidden {
    display: none;
}

.view.mode {
    cursor: pointer;
}

.edit.mode {
    font-size: 27px;
    width: 100px;
}