@using WebPortal.Models.Motorcycles
@model List<BrandViewModel>
@{
	Layout = "_LayoutMotorcycles";
}
<div class="container">
	@foreach(var bike in Model)
	{
		<p>
			@bike.BrandName
		</p>
	}
</div>

