@{
    ViewData["Title"] = "Заказ обратного звонка";
    Layout = "_Layout";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<!-- Шапка сайта -->
<div class="sdek-header-fullwidth">
    <header class="sdek-header">
        <div class="sdek-header-container">
            <a href="/CdekProject" class="sdek-logo">
                <img src="~/images/sdek-project-images/logo.png" alt="CDEK" width="160">
            </a>
            <nav class="sdek-nav">
                <a href="#promo" class="nav-promo">Акция для новых клиентов</a>
                <a href="#project" class="nav-project">СДЭК-ПРОЕКТ</a>
            </nav>
        </div>
    </header>
</div>

<!-- Форма заявки -->
<form action="/CdekProject/Add" method="post">
    <input type="text" name="Name" placeholder="Ваше имя" />
    <input type="text" name="PhoneNumber" placeholder="Ваш телефон" />
    <input type="text" name="Question" placeholder="Ваш вопрос" />
    <button type="submit">Отправить заявку</button>
</form>