@using WebPortal.Models.CoffeShop
@model CoffeeShopViewModel

@{
    Layout = "CoffeShopPages/PageTest";
}

<div class="btn-container">
    <a href="/CoffeShop" class="btn">
        Get back
    </a>
    <a href="/CoffeShop/AddCoffe" class="btn">
        Add New Coffe
    </a>
    <a href="/CoffeShop/AddComents" class="btn">
        Add New Coments
    </a>
    <a href="/CoffeShop/Products" class="btn">
        Your'e Coffe
    </a>
</div>

