@using WebPortal.Models.CoffeShop
@model CoffeeShopViewModel

@{
    Layout = "CoffeShopPages/PageTest";
}

<section class="products" id="products">
    <div class="heading">
        <h2>Product's page'</h2>
    </div>

    <div class="products-container">
        @if (Model?.CoffeeProducts != null && Model.CoffeeProducts.Any())
        {
            foreach (var coffee in Model.CoffeeProducts)
            {
                <div class="box">
                    <img src="@coffee.Img" alt="@coffee.Name" />
                    <h3>@coffee.Name</h3>
                    <p class="author">Added by: @coffee.AuthorName</p>
                    <div class="content">
                        <span>$@coffee.Cell</span>
                        <a href="/CoffeShop/RemoveCoffee?id=@coffee.Id">Remove</a>
                        <a href="/CoffeShop/EditCoffe?id=@coffee.Id">Edit</a>
                        <a href="/CoffeShop/LoginPageTest">Get Back</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No coffee products available yet.</p>
        }
    </div>
</section>