@using WebPortal.Models.CoffeShop
@model CoffeeProductViewModel

@{
    Layout = "CoffeShopPages/PageTest";
}

<div>
    <h2>Update Picture</h2>
    <form method="post" action="/CoffeShop/UpdateImagePage" enctype="multipart/form-data">
        <input type="file" name="pageimage" value="" />
        <button class="btn">Add New Slide Image</button>
    </form>
</div>

<div>
    <a href="/CoffeShop/ManageGallery" class="btn">
        Slider Image
    </a>
    
    <a href="/CoffeShop/LoginPageTest" class="btn">
        Get Back
    </a>
</div>