@model WebPortal.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/sdek-project/header.css">
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name [@Model.Id]</h1>
</div>
