* {
    font-size: 18px;
    color: #414141;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background: #FBF9EC;
}

.title {
    padding: 5px;
}

/* title */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(40px);
    animation: fadeIn 1.5s forwards;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h2 {
    font-size: 36px;
}

header .logo img {
    width: 68px;
    height: 68px;
    background-size: cover;
}

header nav ul {
    list-style: none;
    display: flex;
    z-index: 2;
    position: relative;
    gap: 20px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
}


header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #006FDE;
    border-radius: 10px;
    position: relative;
    top: 3px;
    left: -7px;
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid #006FDE;
}

header .dropdown-content li a:hover {
    background-color: #575757;
}

.phone {
    text-align: center;
    padding: 10px;
}

/* footer */



@media (max-width: 950px) {
    header .logo h2 {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    header .logo h2 {
        font-size: 36px;
    }

    header .menu{
        display: none;
    }
}