.container {
    width: 70%;
    margin: auto;
}

/* Home */

.home {
    display: flex;
    transform: translateY(40px);
    animation: fadeIn 1.5s forwards;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.home h2 {
    font-size: 56px;
    line-height: 100%;
}

.home .name span,
.name span i {
    color: #2AD200;
    font-size: 56px;
}

.home .desc {
    padding: 40px 0;
    display: flex;
    position: relative;
    right: 10px;
    align-items: center;
}

    .home .desc span {
        color: #2AD200;
    }

.home button {
    padding: 15px;
    background: #2AD200;
    color: black;
    width: 300px;
    border-radius: 40px;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out;
}

.hero_laptop img {
    max-width: 90%;
    max-height: 90%;
    background-size: cover;
}

.img_container {
    position: relative;
    z-index: 1;
    justify-content: flex-start;
    bottom: 200px;
}

.home .lightning {
    position: absolute;
    display: flex;
    opacity: 0.7;
}

/* advantages */
.advantages {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    transform: translateY(40px);
    animation: fadeIn 1.5s forwards;
}

    .advantages .info {
        padding: 10px 10px;
        width: 250px;
        border-radius: 15px;
        border: solid #003cff1a;
        display: flex;
        align-items: center;
        background: #040429;
    }

/* catalog */
.catalog {
    padding: 100px 0;
}

    .catalog .name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .catalog .name h2 {
            font-size: 50px;
        }

        .catalog .name a {
            padding: 12px;
            font-size: 20px;
            background: #2AD200;
            color: black;
            width: 250px;
            border-radius: 40px;
            cursor: pointer;
            text-align: center;
        }

.popular {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    word-break: normal;
}

    .popular .info {
        width: auto;
        display: inline-block;
        background: #080852;
        padding: 20px;
    }

.three-obj {
    display: flex;
    gap: 20px
}

.popular .comp {
    padding: 10px 0;
}

.img-container {
    display: flex;
    justify-content: center;
}

    .popular .comp img {
        max-width: 100%;
        border-radius: 40px 40px 0 0;
        background-size: cover;
    }

    .popular .comp .name {
        font-size: 36px;
        margin-top: 10px;
    }

    .popular .comp .type {
        color: #b6b6b6;
        font-size: 20px;
        font-style: italic;
    }

    .popular .comp .cost {
        padding: 5px 0;
    }

        .popular .comp .cost span {
            text-decoration: none;
            color: #e4fa1cd5;
            font-size: 25px;
        }

        .popular .comp .cost s {
            color: #888;
            margin-left: 5px;
            font-size: 17px;
        }

    .popular .comp .btns {
        display: flex;
        align-items: center;
        gap: 20px;
    }

        .popular .comp .btns button,
        .comp .btns a {
            padding: 7px;
            width: 50%;
            background: #2AD200;
            color: black;
            border-radius: 40px;
            cursor: pointer;
        }

        .popular .comp .btns a {
            text-align: center;
        }


@media (max-width: 1400px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
        margin: auto;
    }

    /* Home */
    .hero_text .name h2,
    .home .name span,
    .name span i {
        font-size: 50px;
    }
}

@media (max-width: 1050px) {
    .container {
        width: 95%;
        margin: auto;
    }



    .hero_laptop {
        flex: 2;
    }
}

@media (max-width: 970px) {

    /* Home */
    .hero_text .name h2,
    .home .name span,
    .name span i {
        font-size: 40px;
    }

    .home .desc span,
    .home .desc p {
        font-size: 16px;
    }
}

@media (max-width: 900px) {

    /* Home */
    .hero_text .name h2,
    .home .name span,
    .name span i {
        font-size: 36px;
    }

    .home .desc p,
    .home .desc span {
        font-size: 20px;
    }

    .home .laptop img {
        display: none;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

        .home .hero_text {
            margin-top: 20px;
            padding: 30px;
            border-radius: 30px;
            background: #080852;
            border: solid #040429;
        }

    /* Advantages */
    .advantages {
        flex-wrap: wrap;
    }

    /* Catalog */
   
    .catalog .name {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .catalog .name h2{
        padding: 15px;
    }

    .three-obj {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
