<div class="pagination">
    <div>
        <li><a><button class="pagination-lt">1</button></a></li>
        <li><a><button class="pagination-rt">Back</button></a></li>
    </div>
    <div>
        <li><a><button class="pagination-lt">5</button></a></li>
        <li><a><button>6</button></a></li>
        <li><a><button class="pagination-current">7</button></a></li>
        <li><a><button>8</button></a></li>
        <li><a><button class="pagination-rt">9</button></a></li>
    </div>
    <div>
        <li><a><button class="pagination-lt">Next</button></a></li>
        <li><a><button class="pagination-rt">99</button></a></li>
    </div>
</div>