body {
    background-image: url('../image/image5.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    border: 2px solid black;
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.cartoon-texts{
    text-align: center;
}

.text-name{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
}

.subtitles {
    border: 2px solid black;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    height: 400px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}

.photo-top,
.photo-bottom {
    border: 2px solid black;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.favorites {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.cartoon-image {
    border: 2px solid black;
	object-fit: cover;
	width: 200px;
	height: 400px;
    
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}   

.action {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:18px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}


.action:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}




