@model WebPortal.Models.Notes.TagViewModel

@{
    Layout = "_LayoutNotes";
}

<h2>Добавить тег</h2>

@using (Html.BeginForm("Add", "Tags", FormMethod.Post))
{
    <div class="custom_input">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Tag name", @class = "input" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="custom_input">
        <button type="submit" class="custom_input_button">Add</button>
    </div>
}