@{
    Layout = "_LayoutHelpfull";
}

<div>
    Here we can add an Adivce
</div>

<form method="post">
    <input type="Text" name="advice" />
    <input type="Text" name="url" />
    <button>Send</button>
</form>
