@model List<LinkViewModel>

@{
    Layout = "_LayoutHelpfull";
}
 
<body>
    <main class="main">
        <div class="body-top">
            @foreach (var advice in Model)
            {
                <a href="@advice.Url">@advice.Text</a>
            }

            <p><a href="~/Helpfull/index"><button class="nav-btn active">Главная</button></a></p>
            <p><a href="../html/Css.html"><button class="nav-btn">Css</button></a></p>
            <p><a href="../html/HTML.html"><button class="nav-btn">HTML</button></a></p>
            <p><a href="~/Helpfull/Csharp"><button class="nav-btn">C#</button></a></p>
            <p><a href="../html/JavaScript.html"><button class="nav-btn">JavaScript</button></a></p>
            <a href="~/Helpfull/AddPage"><button class="nav-btn">Add Page</button></a>
        </div>
        <div class="content">
            <aside class="sidebar-left">
                <p>Тут будет располагаться содержимое выбранной страницы по разделам!</p>
            </aside>
            <section class="body">
                <p>
                    Вэбсайт создан на чистом энтузиазме с желанием помочь будущим
                    разработчикам в поисках себя и полезных ресурсов для развития своих навыков.
                    Попробуйте потыкать по ссылкам!
                </p>
                <p>
                    Это главная страница, на ней будут расположены ссылки
                    полезные для всех или большинства направлений!
                </p>
                <p>Ссылки ниже:</p>
                <p>
                    <a href="https://exercism.org/" target="_blank" rel="noopener noreferrer">
                        Exercism – упражнения почти для любого языка!
                    </a>
                </p>
                <p>
                    <a href="https://code-basics.com/ru#courses" target="_blank" rel="noopener noreferrer">
                        Code-basics – курсы по программированию
                    </a>
                </p>
                <p>
                    <a href="https://www.codewars.com/" target="_blank" rel="noopener noreferrer">
                        Codewars – разминка для мозгов
                    </a>
                </p>
                <p>
                    <a href="https://leetcode.com/" target="_blank" rel="noopener noreferrer">
                        Leetcode – задачки для вас
                    </a>
                </p>
            </section>
        </div>
    </main>
</body>