@using WebPortal.Models.Girls
@model List<GirlViewModel>
@{
    Layout = "_LayoutGirl";
}

@section Scripts {
    <script src="/js/girls/index.js"></script>
}

<div>
    <a href="/Girl/Link">Link</a>
</div>

<div class="girls">
    @foreach (var girl in Model)
    {
        <div class="girl">
            <div class="name">@girl.Name (@girl.AuthorName) [@girl.Rating]</div>
            <div class="image-container">
                <img class="girl-image" src="@girl.Src" />
            </div>
            <div class="actions">
                <div class="action">
                    dislike
                </div>
                @if (girl.CanDelete)
                {
                    <a class="action" href="/girl/remove?id=@girl.Id">delete</a>
                }
                <div class="action">
                    like
                </div>
            </div>
        </div>
    }
</div>
<div class="maze">MAZE</div>
