@model List<GirlViewModel>
@{
    Layout = "_LayoutGirl";
}

<div class="girls">
    @foreach (var girl in Model)
    {
        <div class="girl">
            <div class="name">@girl.Name [@girl.Rating]</div>
            <div class="image-container">
                <img class="girl-image" src="@girl.Src" />
            </div>
            <div class="actions">
                <div class="action">
                    dislike
                </div>
                <div class="action">
                    favorite
                </div>
                <div class="action">
                    like
                </div>
            </div>
        </div>
    }
</div>
<div class="maze">MAZE</div>
