@{
    ViewData["Title"] = "СДЭК-Проект";
    Layout = "_Layout";
}

<!-- Главная обертка для растяжения -->
<div class="sdek-header-fullwidth">
    <!-- Контент шапки с ограничением по ширине -->
    <header class="sdek-header">
        <div class="sdek-header-container">
            <!-- Логотип -->
            <a href="/" class="sdek-logo">
                <img src="~/images/sdek-project-images/cdek.png" alt="CDEK" width="160">
            </a>

            <!-- Меню -->
            <nav class="sdek-nav">
                <a href="#promo" class="nav-promo">Акция для новых клиентов</a>
                <a href="#project" class="nav-project">СДЭК-ПРОЕКТ</a>
            </nav>

            <!-- Кнопки -->
            <div class="sdek-actions">
                <a href="/login" class="sdek-login-btn">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path d="M8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8Z" fill="#00B14F"/>
                        <path d="M8 9C5.33 9 0 10.34 0 13V16H16V13C16 10.34 10.67 9 8 9Z" fill="#00B14F"/>
                    </svg>
                    Вход
                </a>
                <button class="sdek-contract-btn">
                    Заключить договор
                </button>
            </div>
        </div>
    </header>
</div>   


<div class="sdek-menu-fullwidth">
    <!-- Контент шапки с ограничением по ширине -->
    <div class="sdek-menu">
        
        <div class="sdek-menu-container">
            <!-- Основной заголовок -->
            <div class="sdek-main-heading">
                <h1>СДЭК для бизнеса</h1>
                <p class="sdek-heading">Доставка для Юридических лиц, ИП, Самозанятых, а также среднего и крупного бизнеса</p>
            </div>
        </div>

        <div class="sdek-menu-actions-container">
            <!-- Блок с кнопками -->
            <div class="sdek-bigactions-menu">
                <!-- Строка 1 -->
                <div class="sdek-string-big">
                    <button class="primary-btn">Подключить доставку</button>
                    <button class="primary-btn-consultation">Консультация</button>
                </div>
            </div>
            <div class="sdek-smallactions-menu">
                <!-- Строка 2 -->
                <div class="action-string-small">
                    <a href="#" class="action-link">Заключить договор</a>
                    <a href="#" class="action-link">Тарифы</a>
                    <a href="#" class="action-link">Создать кабинет</a>
                </div>
            </div>
        </div>
    </div>
</div>


