@{
    ViewData["Title"] = "СДЭК-Проект";
    Layout = "_Layout";
}

<!-- Главная обертка для растяжения -->
<div class="sdek-header-fullwidth">
    <!-- Контент шапки с ограничением по ширине -->
    <header class="sdek-header">
        <div class="sdek-header-container">
            <!-- Логотип -->
            <a href="/" class="sdek-logo">
                <img src="~/images/sdek-project-images/logo.png" alt="CDEK" width="160">
            </a>

            <!-- Меню -->
            <nav class="sdek-nav">
                <a href="#promo" class="nav-promo">Акция для новых клиентов</a>
                <a href="#project" class="nav-project">СДЭК-ПРОЕКТ</a>
            </nav>

            <!-- Кнопки -->
            <div class="sdek-actions">
                <a href="http://lk.cdek.ru/user/login" class="sdek-login-btn" target="_blank" rel="noopener noreferrer">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path d="M8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8Z" fill="#00B14F"/>
                        <path d="M8 9C5.33 9 0 10.34 0 13V16H16V13C16 10.34 10.67 9 8 9Z" fill="#00B14F"/>
                    </svg>
                    Вход
                </a>
                <button class="sdek-contract-btn">
                    Заключить договор
                </button>
            </div>
        </div>
    </header>
</div>   

<div class="main-menu">
    <div class="sdek-menu-fullwidth-left">
        <!-- Контент шапки с ограничением по ширине -->
        <div class="sdek-menu-left">

            <div class="sdek-menu-container">
                <!-- Основной заголовок -->
                <div class="sdek-main-heading">
                    
                    <h1>СДЭК для бизнеса</h1>
                    <p class="sdek-heading">Доставка для Юридических лиц, ИП, Самозанятых, а также среднего и крупного бизнеса</p>
                </div>
            </div>

            <div class="sdek-menu-actions-container">
                <!-- Блок с кнопками -->
                <div class="sdek-bigactions-menu">
                    <!-- Строка 1 -->
                    <div class="sdek-string-big">
                        <button class="primary-btn">Подключить доставку</button>
                        <button class="primary-btn-consultation">Консультация</button>
                    </div>
                </div>
                <div class="sdek-smallactions-menu">
                    <!-- Строка 2 -->
                    <div class="action-string-small">
                        <a href="#" class="action-link">Заключить договор</a>
                        <a href="#" class="action-link">Тарифы</a>
                        <a href="#" class="action-link">Создать кабинет</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>


    <div class="sdek-menu-fullwidth-right">
        <div class="sdek-menu-right">
            <div class="sdek-menu-container-right">
            <!-- Основной заголовок -->
            <div class="sdek-main-heading-right">
                <a href="#" class="action-link">Форма обратной связи для действующих клиентов</a>
                <a href="#" class="action-link">Часто задаваемые вопросы по работе СДЭК</a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="sdek-title-business-card">
    <div class="sdek-title-business-card-container">
        <h2>СДЭК для бизнеса - это удобно</h2>
        <p>Предлагаем решения для задач любой сложности</p>
    </div>
</div>

<div class="sdek-business-card">
    <div class="sdek-business-card-container">
        <!-- Карточка 1 -->
        <div class="delivery-card">
            <div class="delivery-card-content">
                <h3 class="delivery-card-title">Доставка до двери в 45 000 населённых пунктов</h3>
                <div class="delivery-card-feature">
                    <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12L11 14L15 10M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#0066CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>От 1 дня и к определённому часу</span>
                </div>
                <button class="delivery-card-button">Подключить доставку</button>
            </div>
        </div>
        
        <!-- Карточка 2 -->
        <div class="delivery-card">
            <div class="delivery-card-content">
                <h3 class="delivery-card-title">5300 пунктов в более 40 странах мира</h3>
                <div class="delivery-card-feature">
                    <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12L11 14L15 10M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#0066CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Выбирайте ближайший к дому или работе</span>
                </div>
                <button class="delivery-card-button">Зарегестрироваться</button>
            </div>
        </div>
        
        <!-- Карточка 3 -->
        <div class="delivery-card">
            <div class="delivery-card-content">
                <h3 class="delivery-card-title">Личный кабинет для бизнеса</h3>
                <div class="delivery-card-feature">
                    <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12L11 14L15 10M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#0066CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Управляйте заказами и проверяйте аналитику отправлений</span>
                </div>
                <button class="delivery-card-button">Подключить кабинет</button>
            </div>
        </div>
        
        <!-- Карточка 4 -->
        <div class="delivery-card">
            <div class="delivery-card-content">
                <h3 class="delivery-card-title">Готовые модули для интеграции по API</h3>
                <div class="delivery-card-feature">
                    <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12L11 14L15 10M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#0066CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Оптимальный вариант для индивидуальных решений</span>
                </div>
                <button class="delivery-card-button">Перейти к модулям</button>
            </div>
        </div>
        
    </div>
</div>