
@{
    ViewData["Title"] = "СДЭК-Проект";
    Layout = "_Layout";
}


<!-- ШАПКА-->
<div class="sdek-header-fullwidth">
    <!-- Контент шапки с ограничением по ширине -->
    <header class="sdek-header">
        <div class="sdek-header-container">
            <!-- Логотип -->
            <a href="/" class="sdek-logo">
                <img src="~/images/sdek-project-images/logo.png" alt="CDEK" width="160">
            </a>

            <!-- Меню -->
            <nav class="sdek-nav">
                <a href="#promo" class="nav-promo">Акция для новых клиентов</a>
                <a href="#project" class="nav-project">СДЭК-ПРОЕКТ</a>
            </nav>

            <!-- Кнопки -->
            <div class="sdek-actions">
                <a href="http://lk.cdek.ru/user/login" class="sdek-login-btn" target="_blank" rel="noopener noreferrer">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path d="M8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8Z" fill="#00B14F"/>
                        <path d="M8 9C5.33 9 0 10.34 0 13V16H16V13C16 10.34 10.67 9 8 9Z" fill="#00B14F"/>
                    </svg>
                    Вход
                </a>
                <button class="sdek-contract-btn">
                    Заключить договор
                </button>
            </div>
        </div>
    </header>
</div>   

<!-- ПЕРВОЕ МЕНЮ-->
<div class="main-menu">
    <div class="sdek-menu-fullwidth-left">
        <!-- Контент шапки с ограничением по ширине -->
        <div class="sdek-menu-left">

            <div class="sdek-menu-container">
                <!-- Основной заголовок -->
                <div class="sdek-main-heading">
                    
                    <h1>СДЭК для бизнеса</h1>
                    <p class="sdek-heading">Доставка для Юридических лиц, ИП, Самозанятых, а также среднего и крупного бизнеса</p>
                </div>
            </div>

            <div class="sdek-menu-actions-container">
                <!-- Блок с кнопками -->
                <div class="sdek-bigactions-menu">
                    <!-- Строка 1 -->
                    <div class="sdek-string-big">
                        <button class="primary-btn">Подключить доставку</button>
                        <button class="primary-btn-consultation">Консультация</button>
                    </div>
                </div>
                <div class="sdek-smallactions-menu">
                    <!-- Строка 2 -->
                    <div class="action-string-small">
                        <a href="#" class="action-link">Заключить договор</a>
                        <a href="#" class="action-link">Тарифы</a>
                        <a href="#" class="action-link">Создать кабинет</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>


    <div class="sdek-menu-fullwidth-right">
        <div class="sdek-menu-right">
            <div class="sdek-menu-container-right">
            <!-- Основной заголовок -->
            <div class="sdek-main-heading-right">
                <a href="#" class="action-link">Форма обратной связи для действующих клиентов</a>
                <a href="#" class="action-link">Часто задаваемые вопросы по работе СДЭК</a>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- КАРТОЧКИ БИЗНЕС -->
<div class="sdek-business-card">
    <div class="sdek-title-business-card">
        <div class="sdek-title-business-card-container">
            <h2>СДЭК для бизнеса - это удобно</h2>
            <p>Предлагаем решения для задач любой сложности</p>
        </div>
    </div>
    
    <div class="sdek-business-card-container">
        <!-- Карточка 1 -->
        <article class="delivery-card">
            <h3 class="delivery-card-title">Доставка до двери в 45 000 населённых пунктов</h3>
            <div class="delivery-card-feature">
                <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                    <!-- Галочка в круге - иконка подтверждения -->
                    <path
                        d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke="#00B34F"
                        stroke-width="1.5">
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    </path>
                </svg>
                <p class="delivery-card__feature-text">От 1 дня и к определённому часу</p>
            </div>
            <button class="delivery-card-button">Подключить доставку</button>
        </article>

        <!-- Карточка 2 -->
        <article class="delivery-card">
            <h3 class="delivery-card-title">5300 пунктов в более 40 странах мира</h3>
            <div class="delivery-card-feature">
                <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke="#00B34F"
                        stroke-width="1.5">
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    </path>
                </svg>
                <p class="delivery-card__feature-text">Выбирайте ближайший к дому или работе</p>
            </div>
            <button class="delivery-card-button">Зарегестрироваться</button>
        </article>

        <!-- Карточка 3 -->
        <article class="delivery-card">
            <h3 class="delivery-card-title">Личный кабинет для бизнеса</h3>
            <div class="delivery-card-feature">
                <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke="#00B34F"
                        stroke-width="1.5">
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    </path>
                </svg>
                <p class="delivery-card__feature-text">Управляйте заказами и проверяйте аналитику отправлений</p>
            </div>
            <button class="delivery-card-button">Подключить кабинет</button>
        </article>

        <!-- Карточка 4 -->
        <article class="delivery-card">
            <h3 class="delivery-card-title">Готовые модули для интеграции по API</h3>
            <div class="delivery-card-feature">
                <svg class="delivery-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke="#00B34F"
                        stroke-width="1.5">
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    </path>
                </svg>
                <p class="delivery-card__feature-text">Оптимальный вариант для индивидуальных решений</p>
            </div>
            <button class="delivery-card-button">Перейти к модулям</button>
        </article>
    </div>
</div>

<!-- КАРТОЧКИ ПРЕИМУЩЕСТВА-->
<div class="sdek-advantages-card">
    <div class="sdek-title-advantages-card">
        <div class="sdek-title-advantages-card-container">
            <h2>Преимущества заключения договора с СДЭК в 2025 году</h2>
            <p>Заключите договор со СДЭК уже сегодня с выгодой до 40% на все услуги</p>
        </div>
    </div>
    
    <div class="sdek-advantages-card-container">
        <!-- Карточка 1 -->
        <article class="advantages-card">
            <h3 class="advantages-card-title">Без договора</h3>
            <div class="advantages-card-feature">
                <div class="advantages-icons-container">
                    <!-- Крестик 1 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 2 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 3 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 4 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 5 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 6 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 7 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 8 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 9 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 1 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 2 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 3 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 4 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 5 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                
                <div class="advantages-text-container">
                    <p class="advantages-card__feature-text1">Выгодный тариф «Посылка»</p>
                    <p class="advantages-card__feature-text1">Оплата наложенным платежом</p>
                    <p class="advantages-card__feature-text1">Частичная доставка без оплаты</p>
                    <p class="advantages-card__feature-text1">Бесплатная примерка</p>
                    <p class="advantages-card__feature-text1">Бесплатная упаковка</p>
                    <p class="advantages-card__feature-text1">Постоплата за услуги</p>
                    <p class="advantages-card__feature-text1">Снижение стоимости за объем</p>
                    <p class="advantages-card__feature-text1">Подключение к API сервисам СДЭК</p>
                    <p class="advantages-card__feature-text1">Персональный менеджер</p>
                    
                    <p class="advantages-card__feature-text2">СМС-оповещение</p>
                    <p class="advantages-card__feature-text2">Страхование</p>
                    <p class="advantages-card__feature-text2">Личный кабинет</p>
                    <p class="advantages-card__feature-text2">Отслеживание заказа</p>
                    <p class="advantages-card__feature-text2">Бесплатное хранение</p>
                </div>
                
            </div>
            <button class="advantages-card-button">Консультация менеджера</button>
        </article>
        
        <!-- Карточка 2 -->
        <article class="advantages-card">
            <h3 class="advantages-card-title">Без договора</h3>
            <div class="advantages-card-feature">
                <div class="advantages-icons-container">
                    <!-- Крестик 1 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 2 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 3 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Крестик 4 -->
                    <svg class="cross-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M15 9L9 15M9 9l6 6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke="#a3a3a3"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 1 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 2 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 3 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 4 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 5 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 6 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 7 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 8 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 9 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 10 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                
                <div class="advantages-text-container">
                    <p class="advantages-card__feature-text1">Выгодный тариф «Посылка»</p>
                    <p class="advantages-card__feature-text1">Оплата наложенным платежом</p>
                    <p class="advantages-card__feature-text1">Частичная доставка без оплаты</p>
                    <p class="advantages-card__feature-text1">Бесплатная примерка</p>
                    
                    <p class="advantages-card__feature-text2">Бесплатная упаковка</p>
                    <p class="advantages-card__feature-text2">Постоплата за услуги</p>
                    <p class="advantages-card__feature-text2">Снижение стоимости за объем</p>
                    <p class="advantages-card__feature-text2">Подключение к API сервисам СДЭК</p>
                    <p class="advantages-card__feature-text2">Персональный менеджер</p>
                    <p class="advantages-card__feature-text2">СМС-оповещение</p>
                    <p class="advantages-card__feature-text2">Страхование</p>
                    <p class="advantages-card__feature-text2">Личный кабинет</p>
                    <p class="advantages-card__feature-text2">Отслеживание заказа</p>
                    <p class="advantages-card__feature-text2">Бесплатное хранение</p>
                </div>
                
            </div>
            <button class="advantages-card-button">Заключить договор</button>
        </article>
        
        <!-- Карточка 3 -->
        <article class="advantages-card">
            <h3 class="advantages-card-title">Без договора</h3>
            <div class="advantages-card-feature">
                <div class="advantages-icons-container">
                    <!-- Иконка 1 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 2 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 3 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 4 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 5 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 6 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 7 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 8 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 9 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 10 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 11 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    
                    <!-- Иконка 12 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 13 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
  
                    <!-- Иконка 14 -->
                    <svg class="advantages-card-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                        <path d="M9 12L11 14L15 10M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                              stroke="#00B34F"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                
                <div class="advantages-text-container">
                    <p class="advantages-card__feature-text2">Выгодный тариф «Посылка»</p>
                    <p class="advantages-card__feature-text2">Оплата наложенным платежом</p>
                    <p class="advantages-card__feature-text2">Частичная доставка без оплаты</p>
                    <p class="advantages-card__feature-text2">Бесплатная примерка</p>
                    <p class="advantages-card__feature-text2">Бесплатная упаковка</p>
                    <p class="advantages-card__feature-text2">Постоплата за услуги</p>
                    <p class="advantages-card__feature-text2">Снижение стоимости за объем</p>
                    <p class="advantages-card__feature-text2">Подключение к API сервисам СДЭК</p>
                    <p class="advantages-card__feature-text2">Персональный менеджер</p>
                    <p class="advantages-card__feature-text2">СМС-оповещение</p>
                    <p class="advantages-card__feature-text2">Страхование</p>
                    <p class="advantages-card__feature-text2">Личный кабинет</p>
                    <p class="advantages-card__feature-text2">Отслеживание заказа</p>
                    <p class="advantages-card__feature-text2">Бесплатное хранение</p>
                </div>
                
            </div>
            <button class="advantages-card-button">Заключить договор</button>
        </article>
    </div>
</div>

<!-- Заявка звонка -->
<div>
    <a href="/SdekProject/CallRequest" class="chat-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2"/>
        </svg>
        <span class="tooltip">Закажите бесплатный звонок менеджера</span>
    </a>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function(){
                document.querySelector(".tooltip").classList.add("show");
            }, 5000); // 5000 мс = 5 секунд
        });
    </script>
</div>
 
