@using WebPortal.Models.NotesIndex
@model List<UserNotesViewModel>

<div>
    <a href="/UserNotes/Registration">Create User</a>
</div>
<div>
    @foreach (var user in Model)
    {
        <div>@user.UserName</div>
    }
</div>

